{{#each details.data as |result index|}}
  {{#if (gt index 0)}}
    <hr>
  {{/if}}
  {{#if result.sha256_hash}}
    <div>
        <span><a href="https://bazaar.abuse.ch/sample/{{result.sha256_hash}}">Pivot to MalwareBazaar {{fa-icon "external-link-square" class="external-link-icon"}}</a></span>
    </div>
  {{/if}}

  <h1 class="p-title">
    {{fa-icon "eye" fixedWidth=true}} Info
  </h1>

  {{#if result.file_name}}
    <div>
        <span class="p-key">File Name: </span>
        <span class="p-value">{{result.file_name}}</span>
    </div>
  {{/if}}

  {{#if result.first_seen}}
    <div>
        <span class="p-key">First Seen: </span>
        <span class="p-value">{{result.first_seen}}</span>
    </div>
  {{/if}}

  {{#if result.file_size}}
    <div>
        <span class="p-key">File Size: </span>
        <span class="p-value">{{result.file_size}} bytes</span>
    </div>
  {{/if}}

  {{#if result.file_type}}
    <div>
        <span class="p-key">File Type: </span>
        <span class="p-value">{{result.file_type}}</span>
    </div>
  {{/if}}

  {{#if result.signature}}
    <div>
        <span class="p-key">Signature: </span>
        <span class="p-value">{{result.signature}}</span>
    </div>
  {{/if}}

  {{#if result.delivery_method}}
    <div>
      <span class="p-key">Delivery Method: </span>
      <span class="p-value">{{result.delivery_method}}</span>
    </div>
  {{/if}}

  {{#if result.reporter}}
    <div>
      <span class="p-key">Reporter: </span>
      <span class="p-value">{{result.reporter}}</span>
    </div>
  {{/if}}

  {{#if result.comment}}
    <h1 class="p-title">
        {{fa-icon "comment" fixedWidth=true}} Comment
    </h1>
    <div class="comment-container">{{result.comment}}</div>
  {{/if}}

  {{#if result.tags}}
    <h1 class="p-title">
        {{fa-icon "tags" fixedWidth=true}} Tags
    </h1>
    <div>
        {{#each result.tags as |tag| }}
            <span class="tag">{{tag}}</span>
        {{/each}}
    </div>
  {{/if}}
{{/each}}