{{#each details.data as |result|}}
  {{#if result.signature}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">Signature: {{result.signature}}</span>
    </span>
  {{/if}}
  {{#if result.file_type}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">File Type: {{result.file_type}}</span>
    </span>
  {{/if}}
{{/each}}
